*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top ,rgb(219, 219, 211) 86%,rgb(30, 150, 136) 86%);
    height: 100vh;
}

div.boolzapp-container{
    width: 78%;
    margin: 0 auto;
    padding-top: 30px;
    height: 92vh;
    display: flex;
}

div.side-bar{
    width: 35%;
}

div.side-bar div{
    padding: 5px 0;
}

div.message-side{
    width: 65%;
}

div.owner-profile{
    display: flex;
}


div.owner-contact{
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}
/*colors*/

.azure{
    background-color: rgb(149, 218, 251);
}

.lightgray{
    background-color: rgb(230, 230, 230);
}

.lightergray{
    background-color: rgb(234, 234, 234)
}