*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top ,rgb(219, 219, 211) 90%,rgb(30, 150, 136) 90%);
    height: 100vh;
}

div.boolzapp-container{
    width: 78%;
    margin: 0 auto;
    padding-top: 30px;
    height: 92vh;
    display: flex;
}

div.side-bar{
    width: 35%;
}

div.message-side{
    width: 65%;
}

/*colors*/

.azure{
    background-color: rgb(149, 218, 251);
}

.lightgray{
    background-color: rgb(230, 230, 230);
}

.lightergray{
    background-color: rgb(234, 234, 234)
}